*{
    margin: 0;
    padding: 0;
    /* background-color: rgb(248, 162, 181); */
}

body{
    background-color: #f086bb;
}

.container{
    width: 100vw;
    text-align: center;
    position:sticky;
    top: 0;
}

.navbar{
    background-color: #333;
    font-size: x-large;
    padding: 10px;
}

.navbar span{
    margin: 4em;
    font-family: copperplate, papyrus,fantasy;
    font-weight: bolder;
    font-style:italic;
    background-color: #333;
    color: white;
}


.displayImage{
    background-color: aqua;
    width:95vw;
    height: 26em;
    text-align: center;
    margin: auto;
}

.leftImg, .rightImg{
    display: inline-block;
    margin: 40px 90 px;
    
}

.leftImg img{
    display: inline-block;
    border: 2px solid red;
    width: 20em;
    height: 20em;
    margin: auto;   

}

    


.rightImg img{
    display: inline-block;
    border: 2px solid blue;
    width: 20em;
    height: 20em;
    margin: auto;
}


.textArea{
    width: 90vw;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    height: auto;
    border: 2px solid red;
    border-radius: 55px;
    overflow: auto;
}

.textArea p{
    font-family: copperplate, papyrus,fantasy;
    font-weight: bolder;
    font-size: 2em;
    padding: 0.5em;

}

.bottom{
    margin: auto;
    /* width: 2em; */
    /* height: 13em; */
 

}

.fixedButton{
   /* position: relative; */
   /* height: 20vh; */
   position: fixed;
   right: 10em;
   bottom: 5rem;
   /* background-color: blanchedalmond; */
   /* backface-visibility: hidden; */
   
}

.fixedButton button{
   border: 2px solid red;
   border-radius: 4em;
   /* width: 8em; */
   /* height: 5em; */
   margin-top: 2em;
   cursor: pointer;
   padding: 2em;
   /* background-color: wheat; */
   /* overflow: ; */
}

.fixedButton button:hover{
    background-color: rgb(15, 239, 255);
    color: #ee087b;
}

footer{
    width: 100vw;
    /* height: 10vh; */
    background-color: #333;
    text-align: center;
    padding: 20px;

}

footer p{
    background-color:#333;
}