h1{
    text-align: center;
}


#box{
    width:400px ;
    height: 400px;
    border: solid red 1px;
    border-radius: 50%;
    margin: auto;
}

#btn{
    margin-top: 2rem;

    text-align: center;
    
}


#btn #start{
    width: 100px;
    height: 30px;
    cursor: pointer;
}



#btn #end{
    width: 100px;
    height: 30px;
    cursor: pointer;
}