.nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    /* text-align: center; */
}


.nav li{
    margin-left: 20px;
    margin-right: 40px;
    font-size: 20px;
    padding: 10px;
    
    /* text-align: center; */
}

.sec{
    background-color: aquamarine;
    text-align: center;
}